<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
     <link rel="stylesheet" href="/form.css" />
  
</head>
<body>
	
	<th:block th:include="Association/standard"></th:block>
	
		<div class="center1">

			<h1>Publier un appel aux dons</h1>
			<div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
			<form action="#" th:action="@{/Association/{id}/saveAppelsAuxDons (id=${Association.id})}" th:object="${AppelsAuxDons}"
				method="POST">
				<div class="field padding-bottom--24">
                  <label for="email">Description:</label>
      			<input type="text" th:field="*{description}"
					placeholder="Description" class='input-line full-width'></input>
      
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="password">Objectif:</label>
                  </div>
               <input type="text" th:field="*{objectif}"
				placeholder="Objectif" class='input-line full-width'>
                  
                  
                </div>
                <div class="field padding-bottom--24">
                    <label for="email">Montant cible:</label>
                    <input type="text" th:field="*{montant_cible}"
				placeholder="Montant cible" class='input-line full-width'></input>
                    
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="email">Gens cible:</label>
                   <input type="text" th:field="*{gens_cible}"
				placeholder="gans cible" class='input-line full-width'></input>
                    
                  </div> 
                  <label for="email">Statut:</label>
                  <div class="field padding-bottom--24">
                  <select th:field="*{statut}" class="form-control">
				    <option value="">--Selectionner le statut--</option>
				    <option value="en cours">en cours</option>
				    <option value="achevé">achevé</option>
				    
				</select> 
                 </div> 
               
				 <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Publier appels au don">
                  
                </div>
                
              </form>

     		 </div>
    
   		</div>
      </div>
      </div>
   
</body>

</html>