<html >
	<head>
		<meta charset="ISO-8859-1">
		<title>liste des Restaurantss</title>
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">	
	</head>
	<body style="background: linear-gradient(180deg, #26B893 0%, #74ba6e 100%);">
  <div class="header ">
			<h1 style="text-align: center;color:rgb(0, 64, 0)">Liste des associations </h1>    
	   </div>
			<br>
   
	
	  <table class="table" >
  <thead class="thead-dark">
			<thead>
				<tr>
				
					
					<th>Nom</th>
					<th>Ville</th>
					<th>Adressse</th>
					<th>Description</th>
					<th>Email</th>
					</tr>	
				</thead>
				<tbody> 
				<tr th:each="r : ${Associations}">
				  <td th:text="${r.nomUtilisateur}"></td>
				  <td th:text="${r.ville}"></td>
				  <td th:text="${r.adresse}"></td>
				  <td th:text="${r.bio}"></td>
				  <td th:text="${r.email}"></td>
				  
				 </tr>
				</tbody>
			</table>		
			         <div th:if = "${totalPages > 1}">
						<div class = "row col-sm-10">
							<div class = "col-sm-2">
								Total Rows: [[${totalItems}]] 
							</div>
							<div class = "col-sm-1">
								<span th:each="i: ${#numbers.sequence(1, totalPages)}">
									<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
									<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
								</span>
							</div>
							<div class = "col-sm-1">
								<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
								<span th:unless="${currentPage < totalPages}">Next</span>
							</div>
							 <div class="col-sm-1">
			    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
								<span th:unless="${currentPage < totalPages}">Last</span>
			   				 </div>
						</div>
					</div>
	    </div>
	</body>
</html>